/* ==========================================
   Display Utilities
========================================== */

/* Block */
.ndblk {
    display: block;
}

/* Inline */
.ndline {
    display: inline;
}

/* Inline Block */
.ndline-blk {
    display: inline-block;
}

/* Flex */
.ndx {
    display: flex;
}

/* Inline Flex */
.ndline-x {
    display: inline-flex;
}

/* Grid */
.nd-grid {
    display: grid;
}

/* Inline Grid */
.nd-line-grid {
    display: inline-grid;
}

/* Table */
.nd-table {
    display: table;
}

.nd-table-row {
    display: table-row;
}

.nd-table-cell {
    display: table-cell;
}

/* List */
.nd-list-item {
    display: list-item;
}

/* Contents */
.nd-contents {
    display: contents;
}

/* Flow Root */
.nd-flow {
    display: flow-root;
}

/* Hide */
.nd-none {
    display: none;
}